

.App-logo {
  margin-top: 60px;
  height: 100px;
}

.App-header {
  background-image: url('./image/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(100vh - 300px);
  width: 100%;
  padding: 20px;
  color: white;
}

@media screen and (max-width: 768px) {
  .App-header {
    height: calc(100vh - 300px);
  }
}

.App-title {
  margin-top: 32px;
  font-size: 1.5em;
}

.main-container {
  font-size: large;
  width: 80%;
  left: 0;
  right: 0;
  margin: auto;
}

.mk-inline {
  display: inline-block;
  width: 100%;
  outline: none;
  /* margin: 16px; */
}

.no-padding-l {
  padding-left: 0;
}